/*body*/
body {
        background: #85A5CC;
        color: aliceblue;
}

/*Wrapper*/
#wrapper{
            background: #30395C;
            border: 4px solid #D0E4F2;
            border-radius: 15px;
            margin-right: auto;
            margin-left: auto;
            width: 85%;
            padding:15px;

}

/*headings*/
h1{

}

/*class*/
.main{
        border-top: solid 1px #D0E4F2;
}

.odd{

}

/*paragraphs*/

/*table*/
table{
        border-collapse: collapse;
        width:80%;
}
tr{
    display:table-row;
    
}
th {
    background: #4A6491;
    text-align: left;
    padding: .5em;
}
/*footer*/
footer{
        text-align: center;
}